/* everything */
body {
  text-align: center;
  font-family: sans-serif;
}

/* website title */
h1 {
  font-size: 75px;
  margin-bottom: 5px;
  text-decoration: underline;
  text-decoration-color: red;
}

/* author name */
h2 {
  font-size: 30px;
}

/* each individual link */
a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: #ff3f3f; /* less saturated red */
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #777777; /* gray */
  background-color: #ffb5b5; /* reddish-pink */
}

/* link when mouse clicks on it */
a:active {
  color: #ff0000;
}

p {
  padding: 5px 30px;
  text-align: justify;
}

img {
  width: 50%;
}

#links {
  display: inline-block;
}

#page_text {
  width: 50%;
  border: 2px solid red;
  padding: 10px;

  margin: 0 auto;
}

#back_button{
    position:absolute;
    bottom: 5%;
    right:20%;
}

/* quiz style */
.question {
    color: black;
    font-family: verdana;
    font-weight: bold;
    padding: 10px;
}

.answers {
    color: black;
    font-family: verdana;
    margin-bottom: 20px;
}

.answers label {
    display: block;
}

button {
    background-color: #ff3f3f; /* less saturated red */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background-color: #ffb5b5;
}

/* would you rather game styles */
.choice {
    text-align: center;
    padding: 15px;
}

.button {
    background-color: #ff3f3f; /* less saturated red */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

.button:hover {
    background-color: #ffb5b5;
}

.centered_text {
  text-align: center;
}
