<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
<!-- the words at the top of the page -->
<div id="page_top">
  <h1>STORY TITLE</h1>
  <h2>Author Name</h2>
</div>

<!-- the links below the title & author name -->
<div id="links">
  <a href="homepage.html">Home</a>
  <a href="author.html">About the Author</a>
  <a href="">Characters</a>
  <a href="story.html">Story</a>
  <a href="">Quiz</a>
  <a href="">Games</a>
  <!-- can add more tabs here -->
</div>
</body>
</html>
