<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div id="page_top">
    <h1>STORY TITLE</h1>
    <h2>Story</h2>
  </div>

  <!-- the links below the title & author name -->
  <div id="links">
    <a href="homepage.html">Home</a>
    <a href="author.html">About the Author</a>
    <a href="characters.html">Characters</a>
    <a href="story.html">Story</a>
    <a href="quiz.html">Quiz</a>
    <a href="games.html">Games</a>
    <!-- can add more tabs here -->
  </div>

  <div id="page_text">
    <p><!-- put story/story blurb here --></p>
    <!-- you can put pictures like this:
    <img src="name_of_picture" alt="alternate_name">
    for example:
    <img src="seedling1.jpg" alt="Little Seedling">
  -->

  </div>

</body>

</html>
